@model DneWebSite.Models.DCR.Dcr

@{
    ViewBag.Title = "刪除"+Model.DcrNo;
}

<h2>刪除 @Model.DcrNo</h2>
<div>
    <h4>案件資訊</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DcrNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DcrNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DcrEvaluationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DcrEvaluationNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DcrEvaluationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DcrEvaluationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engineer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engineer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssistSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssistSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="確認刪除" class="btn btn-danger" /> 
            
        </div>
    }
    <div>
        <a href="@Url.Action("Index","Dcrs")">回到清單</a>
    </div>
</div>
