@model DneWebSite.Models.DCR.Dcr
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DataLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.DcrId)
        @Html.HiddenFor(m=>m.HasAEC)
        @Html.HiddenFor(m => m.AECApprovalDate)
        @Html.HiddenFor(m => m.AECApprovalDoc)
        @Html.HiddenFor(m => m.SubmitToAECDate)
        @Html.HiddenFor(m => m.AECComment)
        @Html.HiddenFor(m => m.SubmitDocNo)
        @Html.HiddenFor(m => m.HasOperDep)
        @Html.HiddenFor(m=>m.OperDepReviewDate)
        @Html.HiddenFor(m => m.SubmitToOperDepDate)
        @Html.HiddenFor(m => m.OperDepReviewResult)
        @Html.HiddenFor(m => m.HasSafeDep)
        @Html.HiddenFor(m => m.SafeDepReviewDate)
        @Html.HiddenFor(m => m.SubmitToSafeDepDate)
        @Html.HiddenFor(m => m.SafeDepReviewResult)
        @Html.HiddenFor(m => m.HasSafeReg)
        @Html.HiddenFor(m=>m.SafeRegReviewDate)
        @Html.HiddenFor(m => m.SubmitToSafeRegDate)
        @Html.HiddenFor(m=>m.SafeRegReviewResult)

        @Html.HiddenFor(m => m.AssistSectionReviewDate)
        @Html.HiddenFor(m => m.AssistSectionReviewResult)
        @Html.HiddenFor(m => m.AssistSections)

        <div class="form-horizontal">
            <h4>@Model.DcrNo 資訊更新</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">案件基本資訊</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Plant, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Plant, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Plant, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DcrNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DcrNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DcrNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Classification, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Classification, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Classification, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DcrEvaluationNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DcrEvaluationNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DcrEvaluationNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SourceNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SourceNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SourceNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DneNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DneNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DneNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceivedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ReceivedDate, new { htmlAttributes = new { @class = "form-control datepicker", @readonly = "true" } })
                                    @Html.ValidationMessageFor(model => model.ReceivedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MainSection, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MainSection, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MainSection, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Engineer, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Engineer, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Engineer, "", new { @class = "text-danger" })
                                </div>
                            </div>

                           
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Subject, new { @class = "form-control", rows = 8, @style = "width:100%;max-width:100%" })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", rows = 4, @style = "width:100%;max-width:100%" })
                                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CloseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CloseDate, new { htmlAttributes = new { @class = "form-control datepicker", @readonly = "true" } })
                                    @Html.ValidationMessageFor(model => model.CloseDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DcrStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EnumRadioButton(model => model.DcrStatus)
                                    @Html.ValidationMessageFor(model => model.DcrStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <input type="submit" value="更新" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $('.datepicker').datepicker({
            dateFormat:"yy/mm/dd"
        });
</script>
}
