
@model PagedList<DneWebSite.Models.DCR.DcrEvaluation>

<div class="container">
    <table class="table table-condensed table-bordered table-striped table-responsive table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcrEvaluationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainSection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engineer)
            </th>

            <th>
                送外單位審查
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcrStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>



        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Plant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcrEvaluationNo)
                    @if (User.Identity.IsAuthenticated)
                {
                        <div><a href="/dcrevaluations/edit/@item.DcrEvaluationId" class="btn btn-info">編輯基本資料</a></div>
                        <div><a href="/dcrevaluations/delete/@item.DcrEvaluationId" class="btn btn-danger">刪除DCR可行性評估</a></div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainSection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engineer)
                </td>
                <td>

                    @if (item.HasOperDep)
                {
                        <p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#operDep-@item.DcrEvaluationId">核發處審查情況</button>
                        </p>

                    }
                    @if (item.HasSafeDep)
                {

                        <p>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#safeDep-@item.DcrEvaluationId">核安處審查情況</button>
                        </p>


                    }


                    @if (User.Identity.IsAuthenticated)
                {
                        <div><a href="/dcrevaluations/editreview/@item.DcrEvaluationId" class="btn btn-default">編輯送審資料</a></div>
                    }
                    <!-- Modal -->
                    <div class="modal fade" id="operDep-@item.DcrEvaluationId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title" id="newOperDepLabel">核發處審查情況</h3>
                                </div>
                                <div class="modal-body">
                                    <h4><span class="text-success">送會日期:</span>@item.SubmitToOperDepDate</h4>
                                    <h4><span class="text-success">審覆日期:</span>@item.OperDepReviewDate</h4>
                                    <h4><span class="text-success">結果:</span>@item.OperDepReviewResult</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="safeDep-@item.DcrEvaluationId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title" id="newSafeDepLabel">核安處審查情況</h3>
                                </div>
                                <div class="modal-body">
                                    <h4><span class="text-success">送會日期:</span>@item.SubmitToSafeDepDate</h4>
                                    <h4><span class="text-success">審覆日期:</span>@item.SafeDepReviewDate</h4>
                                    <h4><span class="text-success">結果:</span>@item.SafeDepReviewResult</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                                </div>
                            </div>
                        </div>
                    </div>


                <td>
                    @Html.DisplayFor(modelItem => item.CloseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DcrStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>



            </tr>
        }

    </table>
</div>




