@model DneWebSite.Models.DCR.DcrEvaluation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DataLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DcrEvaluation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DcrEvaluationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DcrEvaluationNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engineer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engineer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssistSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssistSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitToOperDepDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitToOperDepDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperDepReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperDepReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperDepReviewResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperDepReviewResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasOperDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasOperDep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitToSafeDepDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitToSafeDepDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafeDepReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafeDepReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafeDepReviewResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafeDepReviewResult)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DcrEvaluationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
