@model DneWebSite.Models.bulletin.Post

@{
    ViewBag.Title = "Delete";
}


<div class="container">
    <h2>刪除佈告</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            檔案/附件
        </dt>
        @foreach (var file in Model.PostFiles)
        {
            <dd><a href="/meetings/download/?p=@(file.FileId + file.Extension)&d=@file.FileName">@file.FileName</a></dd>
        }

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="確認刪除" class="btn btn-danger" /> |
            @Html.ActionLink("回管理頁面", "Index")
        </div>
    }
</div>
