@using Webdiyer.WebControls.Mvc
@model PagedList<DneWebSite.Models.WANO.Item>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                     @Html.DisplayFor(modelItem => item.LastModifiedDate)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id=item.ItemId})">@Html.DisplayFor(modelItem => item.ItemName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>

                <td>
                    @if (User.Identity.IsAuthenticated) { 
                        <a href="@Url.Action("Edit", new { id=item.ItemId})" class="btn btn-default">更新</a>
                        <a href="@Url.Action("Delete", new { id=item.ItemId})" class="btn btn-danger">刪除</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>