@model DneWebSite.Models.WANO.Item

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">


@using (Html.BeginForm("Edit", "Wano", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal content-margin">
        <h2>更新檔案</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ItemId)

        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
                @Html.Label("檔案", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="file" name="file" multiple="multiple" />
                    <ul>
                        @foreach (var item in Model.ItemFiles)
                        {
                            <li class="">
                                <a href="/wano/download/?p=@(item.ItemId + item.Extension)&d=@item.FileName">@item.FileName</a>
                                <a href="javascript:void(0);" data-id="@item.FileId" class="deleteItem"><span class="fa fa-remove"></span></a>
                            </li>
                        }
                    </ul>
                    <p class="text-warning">上傳檔案總大小預設10Mb，超過10Mb將無法上傳</p>
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="更新" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回到WANO事項清單", "Index")
</div>
</div>

@section Scripts{
    <script>
    $('.deleteItem').click(function (e) {
           e.preventDefault();
           var $ctrl = $(this);
           if (confirm('您確定要刪除檔案嗎?')) {
               $.ajax({
                   url: '@Url.Action("DeleteFile", "Wano")',
                type: 'POST',
                data: { fileId: $(this).data('id') }
                }).done(function (data) {
                if (data.Result == "OK") {
                $ctrl.closest('li').remove();
                }
                else if (data.Result.Message) {
                alert(data.Result.Message);
                }
                }).fail(function () {
                alert("伺服器或是您操作有問題，請洽系統管理原");
                })

                }
    });
    </script>
}